<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <span class="logo">InstaPay</span>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h6>PLATFORM</h6>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
      </div>
      <div class="col-2">
        <h6>COMPANY</h6>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
      </div>
      <div class="col-2">
        <h6>RESOURCES</h6>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
      </div>
      <div class="col-2">
        <h6>LEGAL</h6>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
        <p>lorem</p>
      </div>
      <div class="col-4">
        <div class="social">
          <a href="https://www.facebook.com/" target="_blank"><img src="../../assets/icons/facebook-icon.png" alt="facebook"></a>
          <a href="https://www.youtube.com" target="_blank"><img src="../../assets/icons/youtube-icon.png" alt="youtube"></a>
          <a href="https://www.instagram.com" target="_blank"><img src="../../assets/icons/instagram-icon.png" alt="instagram"></a>
          <a href="https://www.twitter.com" target="_blank"><img src="../../assets/icons/twitter-icon.png" alt="twitter"></a>
          <a href="https://www.linkedin.com" target="_blank"><img src="../../assets/icons/linkedin-icon.png" alt="linkedin"></a>
        </div>
      </div>
    </div>
  </div>

</footer>
